:root {
    --page-padding: 5rem;
    --gap: 3rem;
    --text-max-width: 60ch;
    --secondary-text-color: #09caff;
    --primary-text-color: white;
    --background-color: rgb(30, 30, 45);
    --btn-gradient-primary: linear-gradient(240deg, #00addd -5.09%, #c50ddd 106.20%);
    --btn-gradient-secondary: linear-gradient(240deg, #3690f7 -5.09%, #0e4dba 106.20%);
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 70vh;
    padding: var(--page-padding) 0;
    gap: var(--gap);
}

.main-text {
    flex: 1 1 500px;
    max-width: var(--text-max-width);
}

.main-text h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.main-text h2 {
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.main-text p {
    margin: 1rem 0;
    font-size: 1.25rem;
}

/* .main-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 24px;
}
 */

/* animated words */
.words-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
    position: relative;
}

.text {
    position: relative;
    color: var(--secondary-text-color);
    font-size: 1.575rem;
    font-weight: bold;
}

.text.first-text{
    color: var(--primary-text-color);
}

.text.sec-text {
    position: relative;
    padding-left: 0.3rem;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--page-bg);
    background-attachment: fixed;
    z-index: 1;
    border-left: 2px solid rgb(24, 86, 128);
    animation: animate 4s steps(16) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

/* Profile image */
.profile-container {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container img {
    width: 100%;
    padding-top: 2rem;
    max-width: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* Buttons */
.btn-action  {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.btn-work, 
.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    position: relative;
    font-weight: 500;
}

.btn-work {
    background-color: var(--background-color);
}

.btn-work::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 50px;
    background-image: var(--btn-gradient-primary);
    z-index: -1;
}

.btn-link {
    background-color: var(--background-color);
    color: white;
}

.btn-link::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 50px;
    background-image: var(--btn-gradient-secondary);
    z-index: -1;
}

.btn-work:hover,
.btn-link:hover {
    z-index: 0;
    box-shadow: 30px 0 100px #00addd;
}

.btn-link a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .profile-container img{
        max-width: 350px;
    }

    .btn-action {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-work, 
    .btn-link {
        max-width: 250px;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .home-container {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .main-text h1 {
        font-size: 1.5rem;
    }

    .main-text h2 {
        font-size: 2rem;
    }

    .main-text {
        order: 2;
        text-align: left;
        margin: 0 auto;
    }

    .profile-container{
        order: 1;
        margin-top: 2rem;
    }
    
    .text {
        font-size: 1rem; 
    }

    .text.sec-text {
        padding-left: 0.25rem;
    }
}




