nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(53, 51, 51);
    background-color: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo-link {
    font-weight: bold;
    display: flex;
    font-size: 1.6rem;
    text-decoration: none;
    width: 13%;
    color: white;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.logo-link:hover {
    color: rgb(4, 211, 238)
}

/* NAV LINKS */
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-link {
    position: relative;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
}

/* underline animation */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: rgb(4, 211, 238);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}


.nav-link.active {
    color: #04d3ee;
}



/* HAMBURGER MENU */
.menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

.menu span {
    display: block;
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}

@media screen and (max-width: 750px) {
    .menu {
        display: flex;
        float: right;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 0;
        background-color: rgba(13, 17, 33, 0.99);
        animation: slideDown 0.3s ease forwards;
    }


    .nav-links.open {
        display: flex;
    }
 


    @keyframes slideDown {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
    }
}
