nav {
    display: flex;
    background-color: #0d1121;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
}

.nav-container li {
    flex-direction: row;
    display: flex;
    text-decoration: none;
}

.logo-link {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3 ease-in-out;
}




.nav ul {
    display: flex;
    flex-direction: column;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

 nav ul.open {
        display: flex;
        flex-direction: row;
        
    }

.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    cursor: pointer;
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}


nav a:not(.logo-link).active {
        border-bottom: 2px solid rgb(4, 211, 238);
        
}

nav a:not(.logo-link):hover {
        border-bottom: 2px solid rgb(4, 211, 238);
}

.menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}



.menu span {
    display: block;
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

@media screen and (max-width: 750px) {
    .menu {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
  
    nav {
        flex-direction: row;

    }

    nav ul.open {
        display: flex;
        flex-direction: column;
    }
 

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
