.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
     
    flex-wrap: wrap;
    margin-top: 2rem;
}

.main-text {
    max-width: 590px;
    flex: 1 1 500px;
}

.main-text h1 {
    font-size: 40px;
    font-weight: 600;
 
}

.main-text h2 {
    font-size: 90px;
    font-weight: 600;
    margin-top: 20px;
}

.words-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
    position: relative;
}

.text {
    position: relative;
    color: #09CAFF;
    font-size: 30px;
    font-weight: bold;
}

.text.first-text{
    color: white;
}

.text.sec-text {
    padding-left: 9px;
    position: relative;
    z-index: 1;
    padding-left: 9px;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--page-bg);
    background-attachment: fixed;
    z-index: 1;
    border-left: 2px solid rgb(24, 86, 128);
    animation: animate 4s steps(16) infinite;
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.main-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 24px;
}

.profile-container {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
    object-fit: cover;
  
    
}

.btn-action  {
    display: flex;
    font-weight: 500;
    margin-top: 2rem;
    gap: 25px;
    flex-wrap: wrap;
}

.btn-work, .btn-link {
    padding: 20px 50px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.btn-work {
    background-color: rgb(30, 30, 45);
    color: white;
    
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-work::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 50px;
    background-color: rgb(8, 8, 84);
    color: white;
     background-image: linear-gradient(240deg, #00addd -5.09%, #c50ddd 106.20%);
     z-index: -1;
}


.btn-work:hover {
    z-index: 0;
    box-shadow: 30px 0 100px #00addd;
}

.btn-link a {
    color: white;
    text-decoration: none;
}

.btn-link {
      background-color: rgb(30, 30, 45);
    color: white;
     
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-link::after {
    content: "";
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(240deg, #3690f7 -5.09%, #0e4dba 106.20%);
    z-index: -1;
}



.btn-link:hover { 
     z-index: 0;
    box-shadow: 30px 0 100px #00addd;

}

@media screen and (max-width: 650px) {
    .home-container {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
    }
    .main-text h1 {
        font-size: 30px;
        
    }

    .main-text h2 {
        font-size: 50px;
    }

    .main-text {
    order: 2;
        text-align: left;
        margin: 0 auto;
      
    }

     .profile-container{
        order: 1;
    }

    .profile-container img{
        max-width: 350px;
        margin-top: 30%;
    }

      .btn-action {
        flex-direction: column;
        align-items: left;
    }

    .btn-work, .btn-link {
        max-width: 250px;
        width: 100%;
    }

.text {
    padding-left: 10px;
    font-size: 19px;
}

.text.sec-text {
    padding-left: 5px;
}

}


@media screen and (max-width: 1200px) {
    .home-container {
        display: flex;
        flex-direction: row;
        max-height: 1200px;
        
    }
    .main-text h1 {
        font-size: 30px;
    }

    .main-text h2 {
        font-size: 50px;
    }

    .main-text {
    order: 2;
        text-align: left;
         
        
    }

     .profile-container{
        order: 1;
    }


    .profile-container img{
        max-width: 350px;
        margin-top: 30%;
    }

    .btn-action {
        flex-direction: column;
        align-items: left;
    }

    .btn-work, .btn-link {
        max-width: 250px;
        width: 100%;
    }
}
