.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: stretch;
    width: 100%;
}


/* projektkort */
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 1rem;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 1rem;
    background: 
        linear-gradient(#17233d, #17233d) padding-box,
        linear-gradient( #0d6ea2, #a813a8) border-box;
    transition: all 0.3s ease;
}


.project-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 25px 40px rgba(77, 71, 157, 0.4);
    background: 
        linear-gradient(#17233d, #17233d) padding-box,
        linear-gradient( #14adff, #fb1be1) border-box;
}


/* Bilde */
.project-img img{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 19/9;
    object-fit: cover;
    border: 1px solid rgb(138, 138, 138);

}

/* Container med tekst + knapper */
.project-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Tittel og roller */

.project-title {
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.role {
    font-size: 1rem;
    color: #86c4fe;
}

/* Beskrivelse og tags */
.project-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} 

.project-content p {
    color: white;
    line-height: 1.6;
}

/* Tags */
.project-tags span {
    display: inline-block;
    padding: 0.4rem 1rem;
    margin: 10px 10px 10px 0;
    background: #1e293b;
    color: #71dbfe;
    border-radius: 40px;
    font-size: 0.85rem;
    border: 1px solid rgba(17, 94, 182, 0.3);
}

/* Knappseksjon */
.desc-link {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: auto;
}

.desc-link a{
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}



.readMore{
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    color: #fff;
}

.demo{
    border: 2px solid #2257ca;
    color: #fff;
}

.readMore:hover,
.demo:hover {
    background-color: #07215a;
    color: white;
}



.desc-link .demo,
.desc-link .readMore
{ 
    font-size: 15px;
   
     
    display: flex;

    text-decoration: none;
    border-radius: 20px ;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    
}



.arrow{
    width: 6px;
    height: 6px;
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: rotate(-45deg);
    margin-left: 6px;
    transition: all .3s ease;
}

.desc-link a:hover .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
}

/* Responsivt */
@media screen and (max-width: 900px) {
    .project-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        margin: 0 auto;
    }

    .desc-link{
        gap: 20px;
    }

    
    .project-img img {
        width: 100%;
        height: 100%;
    }

 
 



}

@media screen and (max-width: 650px) {
    .project-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

     .project-img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

 
  
}




@media screen and (max-width: 1200px) {
    .project-img img {
        aspect-ratio: 19/10;
    }

    .project-card {
        padding: 2rem;
        border-radius: 25px;
         
  
    }

    .desc-link {
        justify-content: center;
        flex-wrap: wrap;
      
    }

    .work-section {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
     
   
}

.work-para {
    padding: 20px;
    width: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .desc-link .demo,
    .desc-link .readMore {
        font-size: 14px;
        padding: 8px 16px;
        
    }

    .btn-workProject {
        
    }
}
