

.project-tags span {
    display: inline-block;
    padding: 0.4rem 1rem;
    margin: 10px;
}

 

.tag {
    display: inline-block;
    background: #1e293b;
    color: #71dbfe;
    padding: 0.4rem 1rem;
    border-radius: 40px;
    font-size: 0.85rem;
    font-weight: 500;
    border: 1px solid rgba(17, 94, 182, 0.3);
}



.work-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 7rem;
    padding-left: 2rem;
}

/* project role */
.role {
    font-size: 1rem;
    color: #86c4fe;
}



.project-grid {
    gap: 2rem;
   
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    
}

 

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 1rem;
    background: 
        linear-gradient(#17233d, #17233d) padding-box,
        linear-gradient( #0d6ea2, #a813a8) border-box;
}

 


.project-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 25px 40px rgba(77, 71, 157, 0.4);
    border: 3px solid transparent;
    border-radius: 20px;
    background: 
        linear-gradient(#17233d, #17233d) padding-box,
        linear-gradient( #14adff, #fb1be1) border-box;
}



.project-img img{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 1px solid rgb(138, 138, 138);

}


/* .work-header {
   font-size: 2.5rem;
    color: white;
    margin-top: 5rem;
    padding-left: 2rem;
} */

/* .section-para {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: center;
    padding-left: 2rem;
    
    
    margin-bottom: 4rem;
    
} */

 


.project-title, .project-content p {
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
}

/* .work-para, .project-title, .project-card p, .project-card .btn-workProject {
    line-height: 1.5;
    margin-left: 1rem;
} */

/* .work-header span {
   color: rgb(0, 179, 255);
}

.btn-workProject {
    margin-left: 20px;
    padding: 20px;
}

.project-content {
    padding: 2.5rem;

} */

 .project-content h1 {
            color: #ffffff;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .project-content p {
            
            margin-bottom: 2rem;
            line-height: 1.7;
        }

.project-card .btn-workProject {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

.project-card p {
    font-size: 15px;
 

}

.desc-link {
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: space-between;
    margin-top: auto
}

.desc-link .readMore{
     background: linear-gradient(135deg, #2563eb, #7c3aed);
    color: #ffffff;
}

.desc-link .demo{
    border: 2px solid #2257ca;
    color: rgb(255, 255, 255);
}


.desc-link .demo,
.desc-link .readMore
{ 
    font-size: 15px;
   
     
    display: flex;

    text-decoration: none;
    border-radius: 20px ;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    
}



.desc-link .demo > .arrow{
     width: 6px;
    height: 6px;
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
    top: 7px;
}



.desc-link .readMore > .arrow
{
    width: 6px;
    height: 6px;
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
    top: 7px;
    
    
}

.desc-link .demo > .arrow::before,
.desc-link .readMore > .arrow::before 
 {
    display: block;
    background-color: white;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
}

.desc-link .demo:hover > .arrow,
.desc-link .readMore:hover > .arrow
{
    transform: rotate(-45deg) translate(4px, 4px);
    border-color:  rgb(255, 255, 255);
}

.desc-link .demo > .arrow::before,
.desc-link .readMore > .arrow::before
{
    opacity: 0;
    width: 8px;
    height: 2px;
    background-color: white;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.desc-link .demo:hover > .arrow::before,
.desc-link .readMore:hover > .arrow::before
 {
    opacity: 1;
    width: 8px;
}

.demo:hover,
.readMore:hover
{
    background-color: #07215a;
    color: white;
}


@media screen and (max-width: 1000px) {
    .project-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
       
    }

    .desc-link{
        gap: 20px;
    }

    
    .project-img img {
        width: 80%;
        height: 100%;
    }

 
 



}

@media screen and (max-width: 650px) {
    .project-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

     .project-img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

 
  
}




@media screen and (max-width: 1000px) {
 

    .project-card {
        
         width: 90%;
         
         margin: 0.2rem auto;
    }

    .desc-link {
        justify-content: center;
        flex-wrap: wrap;
      
    }

    .work-section {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
     
   
}

.work-para {
    padding: 20px;
    width: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .desc-link .demo,
    .desc-link .readMore {
        font-size: 14px;
        padding: 8px 16px;
        
    }

    .btn-workProject {
        
    }
}
