.skill-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}

.skill-card {
    
    margin-top: 1rem;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid transparent;
        border-color: #243386;
        border-radius: 20px;
        padding: 1rem;
        box-shadow: 0 15px 30px rgba(0,0,0,0.4);
        
}

.skillicon-container {
    display: flex;
    flex-direction: rows;
    margin-bottom: 1rem;
}

.skillicon-container p{
    margin-left: 1rem;
}

.rating {
    width: 50px;
    height: 20px;
    color: blue;
}

.skills-container {
    
    color: white;
    text-align: center;
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    
}

.skills-title {
    
    font-size: 2.5rem;
    color: rgb(238, 251, 255);

}

.skills-title span {
    color: #2492ff;
    
}


.skills-grid {
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
 
    margin-bottom: 2rem;
}


.skill-item img {
    max-width: 60px;
    
}


.rating-container {
    width: 100%;
    background-color: #35323e;
    border-radius: 20px;
    
}
.skill-item p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.ratingSkill {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 20px;
    background-color: #3e1bbe;
}

.css, .html {
    width: 98%;
}

.react {
    width: 76%;
}

.nodeJS, .express, .docker, .javascript {
    width: 56%;
}

.mongoDB {
    width: 66%;
}

.figma, .vsCode, .terminal {
    width: 96%;
}

@media screen and (max-width: 1000px) {
    .skills-section {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-right: 2px;
    }

    .skills-container {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .skill-title {
        text-align: center;
    }

    

    .skill-card {
            display: flex;
            flex-direction: column;
            width: 100%;
    }



}

@media screen and (max-width: 650px) {

    .skills-grid {
         display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}