.footer {
    background: linear-gradient(135deg, #262435, #1e253a,  #181329);
    text-align: center;
    padding: 2rem 2rem;
    color: white;
    width: 100%;
}

.footer p {
    color: white;
    font-size: 1rem;
}



