.footer {
    background: linear-gradient(135deg, #1d1c2a, #1e253a,  #181329);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
    color: white;
    width: 100%;
}

.footer p {
    color: white;
    font-size: 1rem;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 1rem;
    
}

.contacts{
    margin-top: 1rem;
    position: relative;
  
    border: 1px solid transparent;
        
        border-radius: 20px;
        padding: 1rem;
   

    display: flex;
    text-align: center;
    flex-direction: column;
}

.contacts p{
    color: #4d5760;
}

.contactLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    flex-direction: column;
    margin: 0 auto;
    transition: transform 2s;
    
}

.contactLogo:hover {
    transform: rotate(180deg);
}

.targetContact {
    cursor: pointer;
}

.contactTitle {
    margin-top: 0;
}



@media screen and (max-width: 1000px) {
   
.contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}
 
 
}